# Virtual environment
venv/
env/
.venv/

# Build artifacts
build/
dist/
*.spec
*.exe

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.history/
